<div class="kscr-Header row">

  <span class="kscr-Header-title">Course Registration</span>

  <nav class="kscr-Header-nav kscr-Nav">
    <a
      class="kscr-Nav-item"
      ng-class="{ 'kscr-Nav-item--active': $state.includes('app.search') }"
      ng-href="{{srefs['app.search']}}">Search</a>
    <a
      class="kscr-Nav-item"
      href="#">Cart</a>
    <a
      class="kscr-Nav-item"
      ng-class="{ 'kscr-Nav-item--active': $state.includes('app.schedule') }"
      ui-sref="app.schedule">Schedule</a>
  </nav>

</div>

<div class="row" ui-view></div>