$ns: '.kscr-Paging';

#{$ns} {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

#{$ns}-navItem {
  padding: 0.5rem;
  text-decoration: underline;
  color: #0088CC;
}

#{$ns}-navItem--disabled {
  color: #ccc;
  text-decoration: none;
}